<section class="breadcrumb">
	<div class="container">
		<h1> Edit App </h1>
		<a href="/">
			<span> Home </span>
		</a>
		<span> / </span>
		<a href="/app/list">
			<span> My Apps </span>
		</a>
		<span> / </span>
		<span> Edit App </span>
	</div>
</section>

<section class="form">
	<div class="container">
		<form class="form" method="post" action="/api/app/update" novalidate>
			<input type="hidden" id="publish" name="publish" value="false">
			<input type="hidden" id="appId" name="appId" value="<%= @app['appId'] %>">
			<input type="hidden" id="version" name="version" value="<%= @app['version'] %>">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Application Name <span class="text-danger"> * </span>
				</div>
				<div class="col-md-6 controls">
					<input class="form-control" required data-validation-required-message="Please fill out this field", name="name" value="<%= @app['name'] %>">
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Summary <span class="text-danger"> * </span>
				</div>
				<div class="col-md-6 controls">
					<textarea class="form-control" required data-validation-required-message="Please fill out this field" name="summary"><%= @app['customData']['summary'] %></textarea>
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Description <span class="text-danger"> * </span>
				</div>
				<div class="col-md-6 controls">
					<textarea class="form-control" id="description" required data-validation-required-message="Please fill out this field" name="description"><%= @app['customData']['description'] %></textarea>
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Icon <span class="text-danger"> * </span>
				</div>
				<div class="col-md-6 controls">
					<div id="upload-icon" class="dropzone">
						<% if @app['customData']['icon'] != nil %>
							<div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
								<div class="dz-image">
									<img data-dz-thumbnail, src="<%= @app['customData']['icon'] %>">
								</div>
								<div class="dz-progress">
									<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%">
										Complete
									</span>
								</div>
								<a class="dz-remove" href="javascript:void(0)" data-dz-remove onclick="removeFile(this, '#icon', '<%= @app['customData']['icon'] %>'">
									<i class="fa fa-trash"> </i>
								</a>
							</div>
						<% end %>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3 controls">
					<input type="input" id="icon" name="icon" class="hidden" value="<%= @app['customData']['icon'] %>" required data-validation-required-message="Please upload icon">
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Images
				</div>
				<div class="col-md-6">
					<div id="upload-images" class="dropzone">
						<input type="input" id="images" name="images" class="hidden" value="<%= @app['customData']['images'] %>">
						<% 	if defined?(@app['customData']['imageList'])
								@app['customData']['imageList'].each do |image|
						%>
							<div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
								<div class="dz-image">
									<img data-dz-thumbnail src="<%= image %>">
								</div>
								<div class="dz-progress">
									<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%">
										Complete
									</span>
								</div>
								<a class="dz-remove" href="javascript:void(0)" data-dz-remopve onclick="removeFile(this, '#images', '<%= image %>')">
									<i class="fa fa-trash"> </i>
								</a>
							</div>
						<% 	
								end 
							end
						%>
					</div>
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Files
				</div>
				<div class="col-md-6">
					<div id="upload-files" class="dropzone">
						<input type="input" id="files" name="files" class="hidden" value="<%= @app['customData']['files'] %>">
						<% 	if defined?(@app['customData']['fileList']) 
								@app['customData']['fileList'].each do |file|
						%>
							<div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
								<div class="dz-image">
									<i class="fa fa-file"> </i>
								</div>
								<div class="dz-progress">
									<span class="dz-upload completed" data-dz-uploadprogress style="width: 100%">
										Complete
									</span>
								</div>
								<a class="dz-remove" href="javascript:void(0)" data-dz-remove onclick="removeFile(this, '#files', '<%= file %>')">
									<i class="fa fa-trash"> </i>
								</a>
							</div>
						<% 
								end
							end
						%>
					</div>
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Category <span class="text-danger"> * </span>
				</div>
				<div class="col-md-6 controls">
					<select class="form-control categorizer" multiple="multiple" required data-validation-required-message="Please select at least one", name="category[]" value="<%= @app['customData']['category'] %>">
						<option <%= @app['customData']['category'].index('Autogiro') != nil ? 'selected' : '' %>> Autogiro </option>
						<option <%= @app['customData']['category'].index('BokningsSystem') != nil ? 'selected' : '' %>> BokningsSystem </option>
						<option <%= @app['customData']['category'].index('CRM') != nil ? 'selected' : '' %>> CRM </option>
						<option <%= @app['customData']['category'].index('E-handel') != nil ? 'selected' : '' %>> E-handel </option>
					</select>
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Website URL
				</div>
				<div class="col-md-6">
					<input class="form-control" name="website_url" value="<%= @app['customData']['website_url'] %>">
				</div>
			</div>
			<div class="form-group row control-group">
				<div class="col-md-3 item">
					Video URL
				</div>
				<div class="col-md-6">
					<input class="form-control video-url" name="video_url" value="<%= @app['customData']['video_url'] %>">
					<div class="video-preview"> </div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-6 col-md-offset-3">
					<button type="submit" class="btn btn-primary pull-right" onclick="bSubmit=false;">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</section>